.app {
  padding: 20px 24px;
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 1000px) {
  .app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.searchbox-container {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
}

@media screen and (min-width: 1000px) {
  .searchbox-container {
    margin-top: 0;
  }
}

.map-container {
  height: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-form-item-label {
  margin-right: 20px;
}
